body{
    background-color: rgb(222, 222, 222);
}

.container{
    width: 70%;
}

.presentazione{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
}

.div_immagine{
    flex: 5;
    text-align: center;
}

.immagine_presentazione{
    margin-right: 20px;
    border-radius: 20px;
    height: 370px;
}

.chi_siamo{
    flex: 2;
}

.chi_siamo h1{
    text-align: center;
}

.cards_marche{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cards_recensioni{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    border-radius: 20px;
    text-align: center;
    padding: 30px;
}

.cards_marche .card{
    width: 32%;
    min-height: 300px;
}

.cards_recensioni .card{
    width: 18.5%;
    min-height: 100px;
}

.div_immagine_logo_bmw{
    text-align: center;
    margin-bottom: 20px;
}

.div_immagine_logo_fiat{
    text-align: center;
    margin-bottom: 20px;
}

.div_immagine_logo_audi{
    text-align: center;
    margin-bottom: 20px;
}

.cards .descrizione{
    margin-bottom: 0px;
}

.immagine_logo_bmw{
    height: 100px;
    width: 100px;
}

.immagine_logo_fiat{
    height: 100px;
}

.immagine_logo_audi{
    height: 100px;
}
