
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.menu {
    font-size: 20px;
    min-height: 110px;
    text-align: center;
    margin-bottom: 20px;
}


.nomeAzienda {
    font-size: 30px;
    font-family: "DM Serif Text", serif;
}

.contenitore {
    width: 1024px;
    min-height: 300px; 
    margin-left: auto;
    margin-right: auto;
}

a {
    color:black;
    text-decoration: none;
}


.navButton{
    border: 1px solid rgb(0, 0, 0) ;
    padding: 11px;
    font-family: "Playfair Display", serif;
    display: inline-block;
    position: relative;
    transition-duration: 0.5s;
 
 }

 .navButton:hover {
     background-color: rgb(11, 171, 207);
     transition-duration: 0.5s;
     
 }

 body{
    background-color: rgb(222, 222, 222);
}

.contenitore{
    width: 90%;
}

.presentazione{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    text-align: justify;
}

.div_immagine{

    flex: 5;
    text-align: center;

}

.immagine_presentazione{
    margin-right: 20px;
    border-radius: 20px;
    height: 370px;
}

.chi_siamo{
    flex: 2;
}

.chi_siamo h1{
    text-align: center;
}

.cards_marche{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cards_recensioni{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.cards_marche .card{
    width: 32%;
    min-height: 300px;
}

.cards_recensioni .card{
    width: 23.5%;
    min-height: 100px;
}

.div_immagine_logo_bmw{
    text-align: center;
    margin-bottom: 20px;
}

.div_immagine_logo_fiat{
    text-align: center;
    margin-bottom: 20px;
}

.div_immagine_logo_audi{
    text-align: center;
    margin-bottom: 20px;
}

.cards .descrizione{
    margin-bottom: 0px;
}

.immagine_logo_bmw{
    height: 100px;
    width: 100px;
}

.immagine_logo_fiat{
    height: 100px;
}

.immagine_logo_audi{
    width: 60%;
    height: 100px;
}

.user_bar{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.data_commento{
    color: rgb(63, 63, 63);
    font-size: 12px;
}

.user_bar div p{
    margin-bottom: 0;
    margin-left: 5px;
}

.immagine_utente{
    height: 55px;
    width: 55px;
}

.testo_user{
    text-align: start;
}

.corpo_commento{
    text-align: start;
    color: rgb(97, 97, 97);
    line-height: 1.1rem;
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}

footer {
    border: solid 1px rgba(0, 0, 0, 0.301);
    margin-top: 50px;
    text-align: center;

}

.carosello {
    display: none;
}


@media (max-width: 1024px){

    .titolo {
        margin: auto;
    }

    nav {
         width: 100%;
         
    }

    .navButton {
       width: 100%;
    }

    .contenitore {
        width: 100%;
    }

    .div_immagine {
        width: 100%;
        display: none;
    }

    .presentazione {
       border-radius: 0px;
       width: 100%;
    }

    .cards_marche {
        display: block;
    }

    .cards_marche .card {
        width: 100%;
        min-height: 100px;
        
    }

    .brand {
        border-right: solid 1px rgb(204, 196, 196);
    }

    .cards_recensioni {
        display: none;
    }

    .carosello {
        display: block;
        height: 200px;
        margin: 20px;
        
    }

    h1 {
        text-align: center;
    }


}
  
   
   




/* Mobile View */

@media (max-width: 400px){
}


/* stile pagina BMW*/



body{
    background-color: rgb(222, 222, 222);
    padding: 0;
    margin: 0;
}

.titolo a{
    font-family: "DM Serif Text", serif;
}

.titolo_presentazione_BMW h1{
    font-size: 50px;
    font-weight: 600;
    padding-left: 30px;
}



.container_BMW{
    width: 100%;
    margin: 0 auto;
}

.sezione_presentazione_BMW{
    background-image: url(../images/BMW/sfondo_presentazione_bmw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    height: 300px;
    padding: 250px 30px 0px 30px;
}

.presentazione_BMW{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5),white, white);
    border-radius: 20px 20px 0 0;
    padding: 30px;
    min-height: 300px;
}

.presentazione_BMW p{
    margin-top: 20px;
}

h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    margin-top: 0;
}

p{
    color: rgb(45, 45, 45);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.titolo_presentazione_BMW{
    display: flex;
    justify-content: space-between;
}

.immagine_BMW{
    height: 100px;
    width: 100px;
}

.modelli_BMW{
    background-color: white;
    min-height: 100px;
}

.cards_BMW{
    display: flex;
    justify-content: space-evenly;
}

.card_BMW{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    min-height: 100px;
    background-color: rgb(208, 208, 208);
    width: 49%;
    border-radius: 20px;
    border: 2px solid rgb(208, 208, 208);
}

.immagine_modello_BMW{
    height: 300px;
}

.card_BMW .contenitore_testo_card_modelli_BMW p{
    margin: 0;
}

.div_immagine_modello_BMW{
    width: 100%;
    text-align: center;
}

.contenitore_testo_card_modelli_BMW{
    padding: 20px;
    background-color: white;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

footer {
    border: solid 1px rgba(0, 0, 0, 0.301);
    margin-top: 50px;
    text-align: center;
}


.titolo_visualizza_modelli_BMW{
    padding-top: 100px;
    margin-left: 70px;
}




/*  stile pagina FIAT   */


body{
    background-color: rgb(222, 222, 222);
    padding: 0;
    margin: 0;
}


.container_FIAT{
    width: 100%;
    margin: 0 auto;
}

.sezione_presentazione_FIAT{
    background-image: url(../images/FIAT/sfondo_presentazione_FIAT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
    background-position: center;
    height: 300px;
    padding: 250px 30px 0px 30px;
}

.titolo_presentazione_FIAT h1{
    font-size: 50px;
    font-weight: 600;
    padding-left: 30px;
}

.presentazione_FIAT{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5),white, white);
    border-radius: 20px 20px 0 0;
    padding: 30px;
    min-height: 300px;
}

h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    margin-top: 0;
}

p{
    color: rgb(45, 45, 45);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.titolo_presentazione_FIAT{
    display: flex;
    justify-content: space-between;
}

.immagine_FIAT{
    height: 100px;
    width: 100px;
}

.modelli_FIAT{
    background-color: white;
    min-height: 100px;
}

.cards_FIAT{
    display: flex;
    justify-content: space-evenly;
}

.card_FIAT{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    min-height: 100px;
    background-color: rgb(208, 208, 208);
    width: 49%;
    border-radius: 20px;
    border: 2px solid rgb(208, 208, 208);
}

.immagine_modello_FIAT{
    height: 300px;
}

.card_FIAT .contenitore_testo_card_modelli_FIAT p{
    margin: 0;
}

.div_immagine_modello_FIAT{
    width: 100%;
    text-align: center;
}

.contenitore_testo_card_modelli_FIAT{
    padding: 20px;
    background-color: white;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

footer {
    border: solid 1px rgba(0, 0, 0, 0.301);
    margin-top: 50px;
    text-align: center;
}


.titolo_visualizza_modelli_FIAT{
    padding-top: 100px;
    margin-left: 70px;
}